<h1>Proyecto Final de Bases de Datos</h1>
<hr>
<h2>Equipo:</h2>
<h3>Luis Lamadrid - A01191158</h3>
<h3>Gabriel Berlanga - A0</h3>
<h3>Javier Guajardo - A0</h3>
<h3>Diego Garduño - A0</h3>
<h3>David Adorno - A0</h3>