<<<<<<< HEAD
<h1>ULTRABASES</h1>
<h5>Luis Alberto Lamadrid Tafich A01191158</h5>
<h5>Gabriel Berlanga Serrato A01191670</h5>
<h5>Fransisco Javier Guajardo Canseco A00813696</h5>
<h5>Diego Garduño Corona A01175584</h5>
<h5>David Adorno Duran A01137535</h5>
=======
<h1>Proyecto Final de Bases de Datos</h1>
<hr>
<h2>Equipo:</h2>
<h3>Luis Lamadrid - A01191158</h3>
<h3>Gabriel Berlanga - A0</h3>
<h3>Javier Guajardo - A0</h3>
<h3>Diego Garduño - A0</h3>
<h3>David Adorno - A0</h3>
>>>>>>> b806658b78b30bc306ccdf3f4ac455494f7e4012
