<ul class="side-nav">
  <li><a href="#">Talleres</a></li>
  <li><a href="#">Clientes</a></li>
  <li><a href="<%= vehicles_path %>">Vehículo</a></li>
  <li><a href="<%= procedures_path %>">Procedimientos</a></li>
  <li><a href="<%= orders_path %>">Órdenes</a></li>
  <li><a href="<%= labors_path %>">Mano de Obra</a></li>
</ul>